<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title Page-->
      <title>Blending Cost View</title>
      <!-- Fontfaces CSS-->
      <link href="{% static 'costmanagement/css/font-face.css' %}" rel="stylesheet" media="all">
      <link href="{$ static 'costmanagement/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
      <link href="{% static 'costmanagement/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
      <link href="{% static 'costmanagement/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
      <!-- Bootstrap CSS-->
      <link href="{% static 'costmanagement/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
      <!-- Vendor CSS-->
      <link href="{% static 'costmanagement/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
      <link href="{% static 'costmanagement/vendor/datepicker/datepicker.css' %}" rel="stylesheet" media="all">
      <!-- Main CSS-->
      <link href="{% static 'costmanagement/css/style.css' %}" rel="stylesheet" media="all">
   </head>
  {%include 'header.html'%}
   <!-- MAIN CONTENT-->
   <div class="main-content">
      <div class="section__content section__content--p30">
         <div class="container-fluid">
            <div class="headingtitle">
               <div class="title">
                  <h3>Blending Cost Details</h3>
               </div>
              
            </div>
         </div>
         <table class="table table0 table-dark table-bordered more tableedit" id="myTable">
            <thead>
               <tr>
                  <!-- <th scope="col">S.N</th> -->
                  <th scope="col">Product Name</th>
                  <th scope="col">Grade</th>
                  <th scope="col">SAE/ISO</th>
                  <th scope="col">% Cross Check</th>
                  <th scope="col">Per Liter Cost</th>
<!--                   <th scope="col">Net Blending Quantity</th>
                  <th scope="col">Gross Vol Cross Check</th> -->
                  <!--   <th scope="col">Additives</th>
                     <th scope="col">Base Oils</th>
                     <th scope="col">Status</th> -->
               </tr>
            </thead>
            <tbody>
               <tr>
                  <!-- <td>1</td> -->
                  <td >{{product.product}}</td>
                  <td>{{product.grade}}</td>
                  <td>{{product.sae}}</td>
                  <td>{{product.percentCrosscheck}}</td>
                  <td>{{product.perLiterCost}}</td>
                 <!--  <td>KS0000001</td> -->
                <!--   <td>KS0000001</td> -->
                  <!--      <td>KS0000001</td>
                     <td scope="row"><button type="button" class="btn btn-primary primary" data-toggle="modal" data-target="#edit0" >Edit</button> -->
                  </td>
               </tr>
            </tbody>
         </table>
         <table class="table table0 table-dark table-bordered tableedit" id="myTable">
            <div class="heading">
               <h4 class="tradetitle1">Additives</h4>
            </div>
            <thead>
               <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity in %</th>
                 <!--  <th scope="col">Quantity in Liters</th> -->
                  <th scope="col">Value</th>
               </tr>
            </thead>
            <tbody>
               {% for i in additives %}
               <tr>
                  <td>{{i.name}}</td>
                  <td >{{i.QtyInPercent}}</td>
                  <!-- <td>KP</td> -->
                  <td>{{i.QtyInLiters}}</td>
                  <!--      <td>KS0000001</td>
                     <td scope="row"><button type="button" class="btn btn-primary primary" data-toggle="modal" data-target="#edit0" >Edit</button> -->
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <table class="table table-dark table-bordered tableedit" id="myTable">
            <div class="heading">
               <h4 class="tradetitle1">Base Oils</h4>
            </div>
            <thead>
               <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity in %</th>
                 <!--  <th scope="col">Quantity in Liters</th> -->
                  <th scope="col">Value</th>
                  <!--   <th scope="col">Additives</th>
                     <th scope="col">Base Oils</th>
                     <th scope="col">Status</th> -->
               </tr>
            </thead>
            <tbody>
               {% for i in oils%}
               <tr>
                  <td>{{i.name}}</td>
                  <td >{{i.QtyInPercent}}</td>
                  <!-- <td>KP</td> -->
                  <td>{{i.QtyInLiters}}</td>
                  <!--      <td>KS0000001</td>
                     <td scope="row"><button type="button" class="btn btn-primary primary" data-toggle="modal" data-target="#edit0" >Edit</button> -->
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <input type="submit" class="btn btn-primary"  value="Save">
         <button type="button" class="btn btn-danger">Delete</button>
      </div>
   </div>
   {%include 'footer.html'%}
   </div>
   </div>
   </body>
</html>
<!-- end document